<div class="bottom backgrounf-box">		
	<div class="text-center">	
		<p>© <span>2021</span> <a href="https://github.com/Smaily1" class="transition">Smaily</a> جميع الحقوق محفوظة.</p>				
	</div>		
</div>