<div class="fixed-bottom bottom backgrounf-box">		
	<div class="text-center">	
		<p>© <span><%= Time.zone.now.year %></span> <a href="https://github.com/Smaily1" class="transition">Smaily</a> جميع الحقوق محفوظة.</p>				
	</div>		
</div>